* {
	font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
	background: hsla(0, 0%, 100%, 0.6);
}
		
::-webkit-scrollbar-track {
	border-radius: 0;
}
		
::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(95, 95, 95, .4);
	transition: all .2s;
	float: right;
		
	&:hover {
		background-color: rgba(95, 95, 95, .7);
	}
}

@media (max-width: 720px) {
	.search-input-w-box-top{
		width: calc(100% - 8px)!important;
		max-width: 48rem;
	}

	.index-box{
		width: 98%!important;
		margin: 0 auto!important;
	}

	.form-button-box{
		width: 25%!important;
	}

	.form-button{
		width: 100%!important;
	}

	.search-input-w-box-left{
		width: calc(100% - 25%)!important;
	}

	.search-input-w-box{
		width: 90%!important;
        margin: 4px auto 8px;
	}
}

.index-box{
	width: 45rem;
	top: 27.2%;
	position: inherit;
	z-index: 10;
	margin: 0 auto;
}

.form-focus{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 250ms ease-out;
	z-index: 5;
	background-position: center;
	background-repeat: no-repeat;
    background-color: #f3f3f3;
}

.form-button{
	font-size: 16px;
	width: 160px;
	height: 36px;
	display: inline-block;
	outline: none;
	border: 0;
	background-color: #009c0f;
	transition: all .2s ease;
	cursor: pointer;
	padding: 1px 10px;
	color: white;
	border-radius: 0 5px 5px 0;
}

#input_form_k{
	width: calc(100% - 12px);
	height: 36px;
	padding: 0 6px 0 6px;
	border: 0;
	display: inline-block;
	outline: none;
	border-radius: 5px 0 0 5px;
}

.search-input-w-box{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
	height: 36px;
}

.search-input-w-box-left{
	display: block;
	width: calc(100% - 160px);
	z-index: 10;
	height: 36px;
	float: left;
}

.form-button-box{
	width: 160px;
	display: inline-block;
}

.form-button:hover{
	background-color: #5DBD14;
}

.form-button:active{
	background-color: #009a12;
}

#search_associate{
	position: relative;
	z-index: 12;
	width: calc(100% - 160px);
	height: auto;
	display: none;
}

#search_associate ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
	background-color: rgb(254,254,254);
}

#search_associate ul li{
	display: list-item;
	line-height: 24px;
	padding: 0 6px;
	border: 0;
	font-size: 15px;
	cursor: pointer;
	transition: all 150ms ease;
	background-color: rgba(0,0,0,0);
}

/* #search_associate ul li:hover{
	background-color: rgba(0,0,0,0.1);
} */

.search-associate-select{
	background-color: rgba(0,0,0,0.1)!important;
}