@media (max-width: 720px) {
	.logo{
		display: contents;
	}

	.result-content-left{
		padding: 8px!important;
	}

	.list-top{
		display: unset;
	}
}

@media (min-width: 720px) {
	.search-input-w-box-top{
		max-width: 48rem;
	}

	.list-top{
		display: flex;
	}
}

@media (min-width: 1280px) {
	.search-input-w-box-top{
		max-width: 42rem;
	}

	.list-top{
		display: flex;
	}
}

.search-input-w-box-top{
	width: calc(100% - 152px);
	top: 27.2%;
}

.logo{
	width: 130px;
	float: left;
	margin: 4px;
}

.result-content-left{
	padding-left: 142px;
	width: auto;
	float: left;
	padding-top: 8px;
	max-width: 36rem;
}

.result-content-right{
	display: none;
	width: 300px;
	float: right;
	padding-top: 8px;
}

.search-input-w{
	margin: 4px;
}

/* 搜索结果 */
.result-cont{
	color:#666;
	text-overflow: ellipsis;
	font-size: 15px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.search-result-li{}

#loading_x{
	color: rgb(86, 86, 86);
}

/* 返回结果 */
.result-li{
	padding: 2px 0px 0;
	transition: all .2s ease-out;
	border: 1px solid rgba(255,255,255,0);
	border-radius: 2px;
	margin-bottom: 16px;
}

.result-li h2{
	margin: 0;
}

.result-li h2 a{
	color: #001fbb;
	text-decoration: none;
	border-bottom: 0px solid black;
	transition: all .04s ease;
	font-size: 20px;
}

.result-li h2 a:hover{
	text-decoration: none;
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

/* 翻译 */
.result-translate{
	padding: 2px 4px 0;
	transition: all .2s ease-out;
	border: 1px solid rgba(255,255,255,0);
	margin-bottom: 17px;
}

.result-translate h2{
	margin: 0;
}

.result-translate h2 a{
	color: #001ba0;
	text-decoration: none;
	border-bottom: 0px solid black;
}

.result-translate a:hover{
	text-decoration: none;
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

.result-translate-content-left{
	text-overflow: ellipsis;
	font-size: 13px;
	/* display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; */
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.233);
	border-radius: 0.25rem;
	padding: 0.45rem;
}

.result-translate-content-c1{
	font-size: 30px;
	margin: 12px 6px 10px;
}

.result-translate-content-c2{
	font-size: 14px;
	margin: 4px 6px;
	color: rgba(1,1,1,0.75);
}

.result-translate-content-c3{
	white-space: break-spaces;
	margin: 16px 6px 6px;
}

.result-translate-sound{
    background: url("https://i.loli.net/2021/02/10/6gmfjBtKlTVwDGJ.png") no-repeat;
    height: 16px;
    padding-left: 18px;
    line-height: 16px;
    padding-right: 12px;
}

/* 链接变绿 */
.url-green{
	font-size: 14px;
	color: #669933;
}

.return-black{
	color: rgba(0,0,0,0.55);
	font-size: 14px;
}

.corl-v{
	margin: 16px 0;
}

.corl-v a{
	text-decoration: none;
	height: 32px;
	padding: 0 18px;
	border: 1px solid #e1e2e3;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	color: #2f2f2f;
	background: #FFFFFF;
	transition: all .35s ease;
}

.corl-v a:hover{
	background: #DDDDDD;
}

.err_result{
	
}

.plugin-iframe{
    width: 100%;
    border: 0;
}