/* 自动 */
.g-col-1{
	float: left;
	width: 8.333333%;
}

.g-col-2{
	float: left;
	width: 16.666667%;
}

.g-col-3{
	float: left;
	width: 25%;
}

.g-col-4{
	float: left;
	width: 33.333333%;
}

.g-col-5{
	float: left;
	width: 41.666667%;
}

.g-col-6{
	float: left;
	width: 50%;
}

.g-col-7{
	float: left;
	width: 58.333333%;
}

.g-col-8{
	float: left;
	width: 66.666667%;
}

.g-col-9{
	float: left;
	width: 75%;
}

.g-col-10{
	float: left;
	width: 83.333333%;
}

.g-col-11{
	float: left;
	width: 91.666667%;
}

.g-col-12{
	float: left;
	width: 100%;
}