<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>青荇搜索 - 快速，简洁，无痕</title>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" rel="stylesheet"/>
		<style>
			html,body { height: 100%;margin: 0; padding: 0;line-height: 0px;}
		</style>
		<link href="{{url_for('static',path ='css/search_index.css')}}" rel="stylesheet"/>
	</head>
	<body>
		<div style="position: relative;padding-bottom: 0;height: 100%;min-height: 600px;">	
			<div style="width: 590px;top: 27.2%;position: inherit;z-index: 10;margin: 0 auto;">
				<div style="display: table;margin: 0 auto;padding: 8px;margin-bottom: 24px;">
					<img style="height:72px" src="{{url_for('static',path='img/verdant1.png')}}"/>
				</div>
				<div class="search-input-w-box">
					<div class="search-input-w-box-left">
						<span style="width: 430px;display: inline-block;">
							<input id="input_form_k" type="text" style="width: 418px;" placeholder="您想搜索什么？" maxlength="255"/>
						</span>
					</div>
					<div>
						<span style="width: 160px;display: inline-block;">
							<input class="form-button" id="start_search" type="button" value="搜索"/>
						</span>
					</div>
					<div id="search_associate">
						<ul>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-focus" id="form_focus" data-bm="24" style="background-image: url({{url_for('static',path='img/qf3cu.jpg')}});"></div>
			<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',path = 'img/favicon.ico')}}">
		</div>
	</body>
	<script>
		var timer = null;

		document.getElementById('input_form_k').addEventListener('focusin',function(){
			document.getElementById('form_focus').style.filter = "brightness(0.75)"
			document.getElementById('search_associate').style.display = "block"
		});
		
		document.getElementById('input_form_k').addEventListener('focusout',function(){
			document.getElementById('form_focus').style.filter = "brightness(1)"
			document.getElementById('search_associate').style.display = "none"
		});

		document.getElementById('input_form_k').addEventListener("keyup",function(e){
			if(e.key=="Enter"){
				location.href = "searchlist" + "?keyword=" + document.getElementById("input_form_k").value;
				//console.log(e,e.target.value)
			}
			//输入间隔
			if(!timer){
				//console.log('timer ok')
				clearTimeout(timer)
				timer = setTimeout(() => {
					timer = null;
					let xhr = null;
					if (window.XMLHttpRequest){
						xhr = new XMLHttpRequest();
					}else if (window.ActiveXObject){
						xhr = new ActiveXObject("Microsoft.XMLHTTP");
					}
					
					xhr.open('GET', '/keyword_think?keyword=' + document.getElementById("input_form_k").value, true);
					xhr.onload = function () {
						let dt = JSON.parse(xhr.response);
						let elm = document.querySelector("#search_associate ul")
						elm.innerHTML = "";
						for(let i=0;i<dt.length;i++){
							let fx = document.createElement("li");
							fx.innerText = dt[i];
							elm.appendChild(fx);
						}
					}
					xhr.send();
				}, 800);
			}
		});
		
		document.getElementById('start_search').addEventListener("click",function(e){
			location.href = "searchlist" + "?keyword=" + document.getElementById("input_form_k").value;
		})
	</script>
</html>
