<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" rel="stylesheet"/>
		<style>
			html,body { height: 100%;margin: 0; padding: 0;line-height: 0px;}
		</style>
		<link href="{{url_for('static',path ='css/search_index.css')}}" rel="stylesheet"/>
	</head>
	<body>
		<div style="position: relative;padding-bottom: 0;height: 100%;min-height: 600px;">	
			<div style="width: 590px;top: 27.2%;position: inherit;z-index: 10;margin: 0 auto;">
				<div style="display: table;margin: 0 auto;padding: 8px;margin-bottom: 24px;">
					<img style="height:72px" src="{{url_for('static',path='img/verdant1.png')}}"/>
				</div>
				<div style="box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);">
					<div style="display: block;width: 430px;z-index: 10;height: 36px;float: left;">
						<span style="width: 430px;display: inline-block;">
							<input id="input_form_k" type="text" style="width: 418px;" placeholder="您想搜索什么？" maxlength="255"/>
						</span>
					</div>
					<div>
						<span style="width: 160px;display: inline-block;">
							<input class="form-button" id="start_search" type="button" value="搜索"/>
						</span>
					</div>
				</div>
			</div>
			<div class="form-focus" id="form_focus" data-bm="24" style="background-image: url({{url_for('static',path='img/qf3cu.jpg')}});"></div>
		</div>
	</body>
	<script>
		document.getElementById('input_form_k').addEventListener('focusin',function(){
			document.getElementById('form_focus').style.filter = "brightness(0.75)"
		});
		
		document.getElementById('input_form_k').addEventListener('focusout',function(){
			document.getElementById('form_focus').style.filter = "brightness(1)"
		});

		document.getElementById('input_form_k').addEventListener("keyup",function(e){
			if(e.key=="Enter"){
				location.href = "searchlist" + "?keyword=" + document.getElementById("input_form_k").value;
				//console.log(e,e.target.value)
			}
		});
		
		document.getElementById('start_search').addEventListener("click",function(e){
			location.href = "searchlist" + "?keyword=" + document.getElementById("input_form_k").value;
		})
	</script>
</html>
