# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\新建文件夹 (2)\coding\Verdant_Search\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
